

.container {
    display: grid;
    grid-template-columns: 1fr 0.9fr; /* Adjust the second column to be a little smaller */
    grid-template-rows: auto;
    gap: 10px;
    height: 100%;
    width: 100%;
}

.right-column {
    display: grid;
    grid-template-rows: 1fr 1.5fr; /* Make the bottom row larger */
    grid-column: 2 / 3;
    height: 45vh;
    margin: 25px 25px 10px 0;
}

.right-column .top-row {
    /* background-color: #e0e0e0; */
    padding: 20px;
    margin: 10px 0;
}

.right-column .bottom-row {
    /* background-color: #e0e0e0; */
    padding: 20px;
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Add space between cards */
}

.card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    width: 18%; /* Adjust card width so that 5 cards can fit */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.left-column {
    grid-column: 1 / 2;
    /* Left column */
    background-color: #f0f0f0;
    padding: 20px;
    height: 60vh;
    background-color:#AFEBDF;
    border: 1px Solid #45BCAC;
    border-radius: 5px;
    margin: 20px;
}

.right-column {
    display: grid;
    grid-template-rows: 1fr 1.5fr; /* Make the bottom row larger */
    grid-column: 2 / 3;
    height: 45vh;
    margin: 25px 25px 10px 0;
    background-color:#AFEBDF;
    border: 1px Solid #45BCAC;
    border-radius: 5px;
}

.bottom-row{
    
}