{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% comment %} <script src="https://cdn.tailwindcss.com"></script> {% endcomment %}
    <title>
    {% block title %}
      home
    {% endblock  %}
</title>
  <link rel="stylesheet" href="{% static 'home/style.css' %}">
  {% block links %}{% endblock %}


</head>
<body>

  <nav class="header">
    <div class="logo">
        <img src="{% static 'Assets/logo.png' %}" alt="Bail Reckoner Logo" class="logo-image">
        <h1>Bail Reckoner</h1>
    </div>
        <ul class="nav-links">
            <li class="nav-link"><a href="{% url 'home'%}">Home</a></li>
            <li class="nav-link"><a href="#">About</a></li>
            <li class="nav-link"><a href="#">Contact us</a></li>
        </ul>
    </nav>

    {% block content %}
    <h1>Home Page</h1>
    {% endblock %}


    <div class="Chatbot-container">
      CB
      </div>
      {% include 'chatbot/_chatbot_widget.html' %}

    <footer class="footer">
      <span>Copyrights reserved by @ 2024 TeamNirvana</span>
    </footer>

    <button id="toggle-chatbot">Chat</button>

    <script>
      const chatbotContainer = document.getElementById('chatbot-container');
      const toggleButton = document.getElementById('toggle-chatbot');
      
      toggleButton.addEventListener('click', function() {
          if (chatbotContainer.style.display === 'none') {
              chatbotContainer.style.display = 'block';
          } else {
              chatbotContainer.style.display = 'none';
          }
      });
  </script>


</body>
</html>