{% extends "layout.html" %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'chatbot/css/chatbot.css' %}">
{% endblock %}

{% block content %}
<div class="main"></div>
<div class="chat-container">
    <div id="chat-history"></div>

    <div class="chat-input">
        <textarea id="user-message" placeholder="Type your message" name="message"></textarea>
        <button id="send-btn">Send</button>
    </div>
</div>

<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

<!-- Correctly load the JS file -->
<script src="{% static 'chatbot/js/chatbot.js' %}"></script>
{% endblock %}
